<div class="container">
  <div class="container-item">
    <!-- Ítem 1 -->
    <article class="container-items">
      <figure class="container-photo">
        <img [ngClass]="{'zoom-in': isZooming}" src="/logo/angular.jpg" alt="Logo de Angular">
      </figure>
      <h3>Front-End</h3>
      <p>Angular</p>
    </article>

    <!-- Ítem 2 -->
    <article class="container-items">
      <figure class="container-photo">
        <img [ngClass]="{'zoom-in': isZooming}" src="/logo/node.jpg" alt="Logo de Node.js">
      </figure>
      <h3>Back-End</h3>
      <p>Node.js, Express</p>
    </article>

    <!-- Ítem 3 -->
    <article class="container-items">
      <figure class="container-photo">
        <img [ngClass]="{'zoom-in': isZooming}" src="/logo/Nest-js.jpg" alt="Logo de Nest.js">
      </figure>
      <h3>Back-End</h3>
      <p>Nest.js, TypeScript</p>
    </article>

    <!-- Ítem 4 -->
    <article class="container-items">
      <figure class="container-photo">
        <img [ngClass]="{'zoom-in': isZooming}" src="/logo/mysqlSequelize.jpg" alt="Logo de MySQL">
      </figure>
      <h3>Base de Datos</h3>
      <p>Relacional MySQL</p>
      <p>(con Sequelize ORM)</p>
    </article>

    <!-- Ítem 5 -->
    <article class="container-items">
      <figure class="container-photo">
        <img [ngClass]="{'zoom-in': isZooming}" src="/logo/mongodbMongoose.jpg" alt="Logo de MongoDB">
      </figure>
      <h3>Base de Datos</h3>
      <p>NoSQL MongoDB Atlas</p>
      <p>(con Mongoose ODM)</p>
    </article>

    <!-- Ítem 6 -->
    <article class="container-items">
      <figure class="container-photo">
        <img [ngClass]="{'zoom-in': isZooming}" src="/logo/github.jpg" alt="Logo de GitHub">
      </figure>
      <h3>GitHub</h3>
      <p>(Aprendiendo)</p>
    </article>

    <!-- Ítem 7 -->
    <article class="container-items">
      <figure class="container-photo">
        <img [ngClass]="{'zoom-in': isZooming}" src="/logo/reparacion.jpg" alt="Logo de Reparación">
      </figure>
      <h3>Otras Habilidades</h3>
      <p>Reparación de telefonía móvil</p>
    </article>
  </div>
</div>
