<div class="container">
  <div class="container-title-item">
    <p>Informática</p>
  </div>

  <div class="container-item">

    <div class="container-items">
      <div class="container-photo">
        <img [ngClass]="{'zoom-in': isZooming}" src="/logo/angular.jpg" alt="logo.Angular.jpg">
      </div>
      <p>Front-End</p>
      <p>Angular</p>
    </div>

    <div class="container-items">
      <div class="container-photo">
        <img [ngClass]="{'zoom-in': isZooming}" src="/logo/node.jpg" alt="logo.Node.js.jpg">
      </div>
      <p>Back-End</p>
      <p>Node.js, Express</p>
    </div>

    <div class="container-items">
      <div class="container-photo">
        <img [ngClass]="{'zoom-in': isZooming}" src="/logo/mysqlSequelize.jpg" alt="logo.MySql.jpg">
      </div>
      <p>Base de Datos</p>
      <p> Relacional MySQL </p>
      <p>(con Sequelize ORM) </p>
    </div>

    <div class="container-items">
      <div class="container-photo">
        <img [ngClass]="{'zoom-in': isZooming}" src="/logo/mongodbMongoose.jpg" alt="logo.MongoDB.jpg">
      </div>
      <p>NoSQL MongoDB Atlas </p>
      <p>(con Mongoose ODM)</p>
    </div>

    <div class="container-items">
      <div class="container-photo">
        <img [ngClass]="{'zoom-in': isZooming}" src="/logo/github.jpg" alt="logo.GitHub.jpg">
      </div>
      <p>GitHub </p>
      <p>(Aprendiendo)</p>
    </div>

    <div class="container-items">
      <div class="container-photo">
        <img [ngClass]="{'zoom-in': isZooming}" src="/logo/reparacion.jpg" alt="logo.Reparacion.jpg">
      </div>
      <p>Otras Habilidades</p>
      <p>Reparacion de telefonia movil</p>
    </div>

  </div>
</div>
