/* Contenedor principal */
.container {
  padding: 12rem 1.55rem 3rem;
}
.container-title {
  text-align: center;
  color: #4d8fc2;
  margin-bottom: 5rem;
}

.container-items {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
}

/* Sección izquierda */
.container-section {
  flex: 1;
}



section {
  line-height: 1.2; /* Separación entre líneas */
  margin-bottom: 1.25rem;
  color: aliceblue;
}

h2, h3 {
  margin-top: 1.25rem;
  margin-bottom: 0.625rem;
  color: #4d8fc2;
}

p {
  margin-bottom: 0.625rem;
}

ul {
  margin: 0.625rem 0;
  padding-left: 1.25rem;
}

/* Sección de imagen */
.container-img {
  flex: 1;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container-img img {
  max-width: 100%;
  height: auto;
  border-radius: 0.5rem;
  box-shadow: 0 0.13rem 0.3rem rgb(134, 44, 44);


}

.container-img h2 {
  font-size: 1.2rem;
  color: #4d8fc2;
}

button {
  margin-top: 0.8rem;
  height: 1.9rem;
  width: 10rem;
  border-radius: 0.5rem;
  background: #4d8fc2;
  border: none;
  color: #ffffff;
  cursor: pointer;
}

/* Responsivo */
@media (max-width: 48rem) {
  .container {
    flex-direction: column;
    align-items: stretch;
  }

  .container-section, .container-img {
    flex: unset; /*Desactiva flex para que el contenido determine el tamaño */
    width: 100%;
    margin-bottom: 1rem;
  }

  .container-img {
    max-width: 90%;
    margin: 0 auto;
  }
}

