<div class="container">

  <section class="container-items">
    <div class="container-photo">
      <img src="/logo/EloyAlfaro.jpg" alt="Logo del I.E.S Eloy Alfaro">
    </div>
    <h3>Graduado de Secundaria</h3>
    <p>I.E.S Eloy Alfaro</p>
    <p>Machala, Ecuador</p>
    <time datetime="2001">2001</time>
  </section>

  <section class="container-items">
    <div class="container-photo">
      <img src="/logo/aeronaiticos.jpg" alt="Logo del Centro de Estudios Aeronáuticos">
    </div>
    <h3>Título de Tripulante de Cabina de Pasajeros</h3>
    <p>Centro de Estudios Aeronáuticos</p>
    <p>Madrid, España</p>
    <time datetime="2008">2008</time>
  </section>

  <section class="container-items">
    <div class="container-photo">
      <img src="/logo/Atrium.jpg" alt="Logo del Centro de Estudios Atrium">
    </div>
    <h3>Programador Full Stack Developer</h3>
    <p>Centro de Estudios Atrium</p>
    <p>Madrid, España</p>
    <time datetime="2024">2024</time>
  </section>

</div>
