/*el contenedor general*/
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  padding: 8rem 1rem 3rem;
}

/*contenedor individual*/

.container-items {
  background-color: #122231;
  width: 100%;
  max-width: 21.875rem; /* 350px */
  height: 16.875rem; /* 350px */
  margin: 5rem 1.5rem; /* 24px 24px*/
  padding: 1.25rem; /* 20px */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 0.625rem; /* 10px */
  cursor: crosshair;
  box-sizing: border-box;
  overflow: hidden;

}

.container-photo img {
  width: 100%;
  max-width: 6.25rem; /* 100px */
  flex: 0 0 auto;
  border-radius: 1.25rem; /* 20px */
  margin: 1.5625rem; /* 25px */
}

/*contenedor p*/
.container-items p {
  text-align: center;
  font-size: 1.125rem; /* 18px */
  margin: 0.3125rem; /* 5px */
  color: white;
}

/* Ajustes para pantallas móviles */
@media (max-width: 40rem) {
  .container{
    width: 100%; /* Ocupa el ancho completo */
    margin-top: calc(var(--navbar-height, 8rem) + 1rem);
    flex-direction: column;
    padding: 0.625rem; /* Aproximadamente 10px */
    box-sizing: border-box; /* Asegura que padding no afecte el ancho */
  }
  .container {
    flex-direction: column;
    padding: 2rem 4rem 0 2rem;  /* Aproximadamente 10px */
  }

  .container-items {
    margin: 1.5625rem; /* 25px */
    padding: 1rem; /* Ajusta el padding para móviles */
  }

  .container-items p {
    font-size: 1rem; /* Ajusta el tamaño de la fuente para móviles */
  }
}
