<div class="container">

  <div class="container-items" >
    <div class="container-photo">
      <img src="/logo/EloyAlfaro.jpg" alt="foto.I:E:S.jpg">
    </div>
    <p>Graduado de Secundaria</p>
    <p>I.E.S Eloy Alfaro</p>
    <p>Machala - Ecuador,2001</p>
  </div>

  <div class="container-items" >
    <div class="container-photo">
      <img src="/logo/aeronaiticos.jpg" alt="foto.aeronautico.jpg">
    </div>
    <p>Titulo de Tripulante de Cabina de Pasajeros</p>
    <p>Centro de Estudios Aeronáuticos</p>
    <p>Madrid, España 2008</p>
  </div>

  <div class="container-items">
    <div class="container-photo">
      <img src="/logo/Atrium.jpg" alt="foto.Atrium.jpg">
    </div>
    <p>Programador Full Stack Developer </p>
    <p>Centro de Estudios Atrium</p>
    <p>Madrid, España 2024</p>
  </div>


</div>
