<div class="container">

  <div class="container-title-item">
    <p>Carta de presentación</p>
  </div>

  <div class="container-content">
    <div class="container-photo">
      <img src="/foto/2024-10-21%2020.52.23.jpg" alt="foto.jpg">
    </div>

    <div class="container-items">
      <p>
        Estimados/as Sres/as,
      </p>

      <p>
        Me llamo Endi Medranda, y me encuentro en un momento de cambio laboral enfocado en el mundo de la programación.
        Cuando llegué a España, mi sueño y profesión deseada era la de ser programador, pero las circunstancias me
        impidieron seguir ese camino en su momento. Ahora que tengo la oportunidad y la determinación para hacerlo,
        estoy comprometido en emprender este futuro y dedicarme de lleno a la programación. Durante este tiempo, me he
        estado formando para adquirir los conocimientos necesarios y construir una base sólida en desarrollo.
      </p>
      <p>
        Actualmente, soy un perfil junior en tecnologías como Node.js, Express, MongoDB, Angular, y estoy en proceso de
        aprender y mejorar mis habilidades en GitHub. Me considero una persona trabajadora, proactiva y con iniciativa,
        cualidades que me han ayudado a avanzar en mi formación y a seguir creciendo en este campo.

      </p>
      <p>
        Busco una oportunidad que me permita aplicar mis conocimientos y continuar desarrollándome como programador. Me
        motiva la idea de contribuir a proyectos donde pueda aprender de la experiencia de los demás y aportar lo mejor
        de mí. Estoy seguro de que mi enfoque y perseverancia serán de valor en cualquier equipo en el que tenga la
        oportunidad de integrarme.
      </p>
      <p>
        Si considera que mi perfil puede encajar en su equipo, estaré encantado de compartir más detalles sobre mi
        experiencia y habilidades. No dude en revisar mi currículum y, si lo considera adecuado, concertar una
        entrevista en la que podamos explorar cómo mis conocimientos y entusiasmo pueden contribuir al crecimiento de
        sus proyectos. Estoy comprometido con el aprendizaje continuo y con aportar lo mejor de mí para alcanzar los
        objetivos del equipo y enfrentar juntos los desafíos que se presenten.
      </p>
    </div>

  </div>

</div>















